// fonts
$ff: "Montserrat", Helvetica, Arial, sans-serif;

// colors
$blue: #3b476f;
$purple: #453a6a;

$white: #fff;
$black: #000;
$lgray: #f2f2f2;

body {
	font-family: $ff;
	font-weight: 400;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ff;
	font-weight: 700;
	margin-bottom: 0.3em;
	&.no-m {
		margin-bottom: 0;
	}
	&.white {
		color: $white;
	}
}

.headline {
	font-size: 2.5rem;
	line-height: 1.2em;
	&.large {
		font-size: 4rem;
	}
	&.sub {
		font-size: 1.5rem;
	}
}

.copy {
	p {
		line-height: 1.5em;
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}