.footer-wrap {
	@include gradient(45deg, $blue, $purple);
	padding: 45px 0;
	.footer {
		@include clearfix;
		width: 80%;
		margin: 0 auto;
		color: $white;
		a {
			color: $white;
		}
		.footer-left {
			width: 60%;
			float: left;
		}
		.footer-right {
			width: 40%;
			float: right;
			text-align: right;
			.connect {
				h2 {
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 0;
					margin-right: 20px;
				}
				ul {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}