@mixin gradient($direction, $from, $to) {
	background: $from;
	background: linear-gradient($direction, rgba($from,1) 0%, rgba($to,1) 100%);
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}