.home {
	.main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 500px;
		background: $dgray;
		color: $white;

		.info {
			width: 60%;
			padding: 150px 0;
		}
		
		.inner-content-wrap {
			width: 80%;
			max-width: 600px;
			margin: 0 auto;
		}

		.side {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40%;
			align-self: stretch;
			background: $teal;
			clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		}
	}

	.work {
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 40%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 10%;
			background: $lgray;
			clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		}
	}
}